@import vars

nav
  height 70px

.nav-logo
  line-height 70px
  
.nav-logo-image
  display inline-block
  vertical-align middle
  width 34px
  height 34px
  margin-right 10px
  
.nav-logo-text
  display inline-block
  vertical-align middle
  font-size 20px
  font-weight 500 // medium
  color $brandDark

.nav-link
  color $brandDark
  font-size 14px
  font-weight 400
  margin-left 1.5rem
  
.nav-link-strong
  font-weight 500