.team-card
  width 437px

.question-ss-wrapper
  position relative
  width 100%
  
// .question-ss
//   width 600px
//   max-width none

.pipeline
  position relative

.pipeline-line
  position absolute
  top 450px
  left 50%
  
  width 1px
  height 300px
  background-color rgba($brandDark, 50%)

.pipeline-icon
  display block
  margin 0 auto

@media only screen and (max-width: $sm-viewport)
  .pipeline-icon
    margin-bottom 30px
  .third-col
    margin-top 30px
