.Section
  position relative
  padding-top 3rem
  padding-bottom 5rem

.Section--grayBg
  background-color #e8e8e8

.Section--invertBg
  background-color #0c2f54
  background-image linear-gradient(to bottom, #0c2f54 0%, #11467c 100%)
  color $white !important
  .section-subtitle
    color rgba($white, 70%)
  
.section-title
  font-size 2rem
  line-height 2.5rem
  font-weight 300
  margin 0
  margin-bottom 1rem

.section-subtitle
  font-size 1.25rem
  line-height 2rem
  font-weight 300
  color rgba($black, 70%)

ol.product-steps
  list-style-type decimal
  li
    font-size 1rem
    line-height 1.5rem
    font-weight 300
    padding-bottom 1rem
    padding-left 0.5rem