$brandDark = #394B59
$brandDarker = #293742
$brandRed = #CC4E40

$black = #1a1814
$black2 = #47525D
$gray = #7B8994
$white = #fffefc
$clay = #f5f3ee

$font-size-normal = 16px
$line-height-normal = 26px

$border-radius-default = 4px

$sm-viewport = 48em
$md-viewport = 62em
$lg-viewport = 75em