doctype html
html
head
  title Macro: Your Data Science Team
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  link(rel="stylesheet", type="text/css", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
  link(rel="stylesheet", type="text/css", href="css/main.css")



body

  header.Hero
    nav
      a(href='/')
        img.nav-logo(src='img/logo.svg')
      //- span.nav-text MACRO
    .container.container-fluid
      .row.middle-xs
        .col-md-7
          h1.hero-title Macro is your data science team.
          p.hero-subtitle We provide advanced infrastructure for intuitively analyzing and understanding your company's data at scale.
          p.hero-subtitle Powered by the world's best data engineers, statisticians, and application designers.
        .col-md-1 
        .col-md-4
          .hero-form
            input.hero-input(type='text', placeholder='Name')
            input.hero-input(type='text', placeholder='Phone')
            input.hero-input(type='text', placeholder='Email')
            input.hero-input(type='text', placeholder='When to call')
            button.hero-input-btn(type='submit') Request call

  section.Section
    .container.container-fluid
      .row.center-xs
        .col-md-12
          h1.section-title Build an amazing data science team instantly
      
      .row
        .col-md-12
          .screenshot-placeholder

      .row.center-xs
        .col-md-6.u-textLeft
          ol.product-steps
            li Ask any plain English question about your company’s data through the Macro app, the same way you’d message a data scientist on your team.
            li Macro’s platform allows our expert data scientists to build and send back a rich, interactive answer far more quickly than a traditional team, at any time of day.
            li All your answers are secure, searchable, automatically update with your latest data, and form a deeper, more intuitive view of your data.
            li Just launched a feature and need to ask 20 questions in a day? We scale with your company.
  
  section.Section.Section--invertBg
    .container.container-fluid
      .row.center-xs
        .col-md-10
          h1.section-title Advanced infrastructure for data science
          p.section-subtitle It’s not just about using the latest technology. It’s about automating processes around understanding and maintaining your data science platform. 

  section.Section
    .container.container-fluid
      .row.center-xs
        .col-md-10
          h1.section-title Intelligent, custom answers
          p.section-subtitle Fast answers is not just a feature; it opens up whole new paths of understanding how your company works.

  section.Section
    .container.container-fluid
      .row.center-xs
        .col-md-10
          h1.section-title We grow with you
          p.section-subtitle We work with you to better tag and understand your data and give you an organized, searchable interface to access everything happening in your company.

  section.Section
    .container.container-fluid
      .row.center-xs
        .col-md-10
          h1.section-title Learn more about Macro
          p.section-subtitle We’ll call you to discuss your custom data science needs.
      .row.center-xs
        .col-md-4
          .hero-form.Spacing--medium--top
            input.hero-input(type='text', placeholder='Name')
            input.hero-input(type='text', placeholder='Phone')
            input.hero-input(type='text', placeholder='Email')
            input.hero-input(type='text', placeholder='When to call')
            button.hero-input-btn(type='submit') Request call



